*.DS_Store
/target/ 
workspace.xml
target
.metadata
.settings
.classpath
.project
*.class
*.iml
/.idea/
misc.xml
encodings.xml
.idea/codeStyles/
.idea/compiler.xml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/libraries/
.idea/modules.xml
.idea/vcs.xml
